<form action="/admin" method="post">
    <input type="text" placeholder="返信するテキスト" name="text">
    <input type="text" placeholder="キーワード" name="keyword">
    <input type="submit" value="送信">
</form>
<form action="/" method="get">
    <input type="submit" value="戻る">
</form>